.department-container-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto auto;
  grid-template-areas: "aside header" "aside main";
  gap: 12px 40px;
}

.department-container-grid > header {
  grid-area: header;
}

.department-container-grid > aside {
  grid-area: aside;
}

.department-container-grid > main {
  grid-area: main;
}
